{% extends "BaseHeader.jinja" %}
{% block includes %}

#include <stdint.h>
#include "exi_bitstream.h"
{% endblock %}

{% block content %}
/**
 * \brief       Encode hexBinary
 *
 * \param       stream              EXI bitstream
 * \param       bytes_len           length of binary data
 * \param       bytes               binary data buffer
 * \param       bytes_size          size of the buffer
 * \return                          Error-Code <> 0, if no error 0
 *
 */
int encode_exi_type_hex_binary(exi_bitstream_t* stream, uint16_t bytes_len, const uint8_t* bytes, size_t bytes_size);

/**
 * \brief       Encode base64Binary
 *
 * \param       stream              EXI bitstream
 * \param       bytes_len           length of binary data
 * \param       bytes               binary data buffer
 * \param       bytes_size          size of the buffer
 * \return                          Error-Code <> 0, if no error 0
 *
 */
int encode_exi_type_base64_binary(exi_bitstream_t* stream, uint16_t bytes_len, const uint8_t* bytes, size_t bytes_size);
{% endblock %}
