{% extends "BaseCode.jinja" %}
{% block includes %}
#include <iso2_CustomEXIDatatypes.h>
{% endblock %}

{% block content %}
void init_iso2_EXISchemaInformedElementFragmentGrammar(struct iso2_EXISchemaInformedElementFragmentGrammar* exiFrag) {
	exiFrag->Id_isUsed = 0u;
	exiFrag->CHARACTERS_GENERIC_isUsed = 0u;
}
{% endblock %}
