{{ element_comment }}
static int {{ function_name }}(exi_bitstream_t* stream, struct {{ struct_type }}* {{ parameter_name }}) {
{{ indent * level }}// Element has no particles, so the function just returns zero
{{ indent * level }}(void)stream;
{{ indent * level }}(void){{ parameter_name }};

{%- if add_debug_code == 1 %}

{{ indent * level }}if (stream->status_callback)
{{ indent * level }}{
{{ indent * (level + 1) }}stream->status_callback({{ function_name|upper }}, 0, 0, 0);
{{ indent * level }}}
{%- endif %}

{{ indent * level }}return 0;
}
