/* SPDX-License-Identifier: Apache-2.0 */
/*
 * Copyright (C) 2022 - 2023 chargebyte GmbH
 * Copyright (C) 2022 - 2023 Contributors to EVerest
 */

/*****************************************************
 *
 * @author
 * @version
 *
 * The Code is generated! Changes may be overwritten.
 *
 *****************************************************/
{% block description %}
/**
  * @file {{ filename }}
  * @brief {{ description or "Description goes here" }}
  *
  **/
{% endblock description %}

{%- block file_content %}{% endblock %}
