{{ indent * level }}{{ sequence_comment }}
{{ indent * level }}struct {
{{ sequence_content }}
{{ indent * level }}} {{ sequence_name }};
{{ indent * level }}unsigned int {{ sequence_name }}_isUsed:1;
