{%- if option == -2 %}
{{ indent * level }}if (1 == 0)
{%- elif option == 0 %}
{{ indent * level }}if ({{ parameter }}_isUsed == 1u)
{%- elif option > 0 %}
{{ indent * level }}else if ({{ parameter }}_isUsed == 1u)
{%- else %}
{{ indent * level }}else
{%- endif %}
{{ indent * level }}{
{{ indent * (level + 1) }}{{ event_comment }}
{{ indent * (level + 1) }}error = EXI_ERROR__ENCODER_NOT_IMPLEMENTED;
{{ indent * (level + 1) }}done = 1;
{{ indent * level }}}
